Node-Red
[{"id":"295024d3.c875fc","type":"server-state-changed","z":"7d1c942b.a3383c","name":"","server":"513d7ede.faa2f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.music_effects","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"milliseconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":200,"y":740,"wires":[["da102ff2.e92ab","96156679.63c6d8"]]},{"id":"cfacc555.746558","type":"api-call-service","z":"7d1c942b.a3383c","name":"","server":"513d7ede.faa2f","version":3,"debugenabled":false,"service_domain":"script","service":"govee_led_music_energetic","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":640,"wires":[[]]},{"id":"da102ff2.e92ab","type":"switch","z":"7d1c942b.a3383c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Energetic","vt":"str"},{"t":"eq","v":"Spectrum blue","vt":"str"},{"t":"eq","v":"Spectrum red","vt":"str"},{"t":"eq","v":"Rolling blue","vt":"str"},{"t":"eq","v":"Rolling red","vt":"str"},{"t":"eq","v":"Rhythm","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":450,"y":740,"wires":[["cfacc555.746558"],["24e7e94f.6e9c66"],["b06efb06.1bd7d8"],["3e7fe8f.2b95418"],["6ca3adbe.e94034"],["772cfc31.5a0474"]]},{"id":"24e7e94f.6e9c66","type":"api-call-service","z":"7d1c942b.a3383c","name":"","server":"513d7ede.faa2f","version":3,"debugenabled":false,"service_domain":"script","service":"govee_led_music_spectrum_blue","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":680,"wires":[[]]},{"id":"b06efb06.1bd7d8","type":"api-call-service","z":"7d1c942b.a3383c","name":"","server":"513d7ede.faa2f","version":3,"debugenabled":false,"service_domain":"script","service":"govee_led_music_spectrum_red","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":720,"wires":[[]]},{"id":"3e7fe8f.2b95418","type":"api-call-service","z":"7d1c942b.a3383c","name":"","server":"513d7ede.faa2f","version":3,"debugenabled":false,"service_domain":"script","service":"govee_led_music_rolling_blue","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":760,"wires":[[]]},{"id":"6ca3adbe.e94034","type":"api-call-service","z":"7d1c942b.a3383c","name":"","server":"513d7ede.faa2f","version":3,"debugenabled":false,"service_domain":"script","service":"govee_led_music_rolling_red","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":800,"wires":[[]]},{"id":"772cfc31.5a0474","type":"api-call-service","z":"7d1c942b.a3383c","name":"","server":"513d7ede.faa2f","version":3,"debugenabled":false,"service_domain":"script","service":"govee_led_music_rhythm","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":840,"wires":[[]]},{"id":"96156679.63c6d8","type":"api-call-service","z":"7d1c942b.a3383c","name":"","server":"513d7ede.faa2f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"switch.led_govee","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":430,"y":820,"wires":[[]]},{"id":"efa2d39c.19fa8","type":"server-state-changed","z":"7d1c942b.a3383c","name":"","server":"513d7ede.faa2f","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.effects","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"milliseconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":220,"y":1060,"wires":[["2e91398d.3613c6","efe34b33.48cee8"]]},{"id":"701ccc1.574ba34","type":"api-call-service","z":"7d1c942b.a3383c","name":"","server":"513d7ede.faa2f","version":3,"debugenabled":false,"service_domain":"script","service":"govee_led_effect_blinking","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":920,"wires":[[]]},{"id":"2e91398d.3613c6","type":"switch","z":"7d1c942b.a3383c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Blinking","vt":"str"},{"t":"eq","v":"Candlelight","vt":"str"},{"t":"eq","v":"Dating","vt":"str"},{"t":"eq","v":"Movie","vt":"str"},{"t":"eq","v":"Romantic","vt":"str"},{"t":"eq","v":"Snowflake","vt":"str"},{"t":"eq","v":"Sunrise","vt":"str"},{"t":"eq","v":"Sunset","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":450,"y":1060,"wires":[["701ccc1.574ba34"],["9485d17a.95dc1"],["5d465bcf.4895c4"],["60362b54.8b53f4"],["bb45cf0c.affc9"],["cd3ae62c.c5a4d8"],["1a323e64.3a3ce2"],["e863c68d.ac5288"]]},{"id":"9485d17a.95dc1","type":"api-call-service","z":"7d1c942b.a3383c","name":"","server":"513d7ede.faa2f","version":3,"debugenabled":false,"service_domain":"script","service":"govee_led_effect_candlelight","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":960,"wires":[[]]},{"id":"5d465bcf.4895c4","type":"api-call-service","z":"7d1c942b.a3383c","name":"","server":"513d7ede.faa2f","version":3,"debugenabled":false,"service_domain":"script","service":"govee_led_effect_dating","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":1000,"wires":[[]]},{"id":"60362b54.8b53f4","type":"api-call-service","z":"7d1c942b.a3383c","name":"","server":"513d7ede.faa2f","version":3,"debugenabled":false,"service_domain":"script","service":"govee_led_effect_movie","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":1040,"wires":[[]]},{"id":"bb45cf0c.affc9","type":"api-call-service","z":"7d1c942b.a3383c","name":"","server":"513d7ede.faa2f","version":3,"debugenabled":false,"service_domain":"script","service":"govee_led_effect_romantic","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":1080,"wires":[[]]},{"id":"cd3ae62c.c5a4d8","type":"api-call-service","z":"7d1c942b.a3383c","name":"","server":"513d7ede.faa2f","version":3,"debugenabled":false,"service_domain":"script","service":"govee_led_effect_snowflake","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":1120,"wires":[[]]},{"id":"efe34b33.48cee8","type":"api-call-service","z":"7d1c942b.a3383c","name":"","server":"513d7ede.faa2f","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"switch.led_govee","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":430,"y":1180,"wires":[[]]},{"id":"1a323e64.3a3ce2","type":"api-call-service","z":"7d1c942b.a3383c","name":"","server":"513d7ede.faa2f","version":3,"debugenabled":false,"service_domain":"script","service":"govee_led_effect_sunrise","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":1160,"wires":[[]]},{"id":"e863c68d.ac5288","type":"api-call-service","z":"7d1c942b.a3383c","name":"","server":"513d7ede.faa2f","version":3,"debugenabled":false,"service_domain":"script","service":"govee_led_effect_sunset","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":1200,"wires":[[]]},{"id":"513d7ede.faa2f","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
